<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".currentConditions"
            android:label="@string/title_activity_current_conditions"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TwoDayAvg"
            android:label="@string/title_activity_two_day_avg"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Hourly"
            android:label="@string/title_activity_hourly"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UpcomingWeek"
            android:label="@string/title_activity_upcoming_week"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PastForecast"
            android:label="@string/title_activity_past_forecast"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>